@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>
    UpdateMe corporate learning system
</h3>

<p>UpdateMe gives the opportunity companies to assign mandatory online training courses and examinations that all employees with a
    given role must complete by a certain date, to ensure its thousands of employees are up to date with regulations and best practices.</p>
