@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Developer Team</h3>

<address>
    <strong>Lachezar Georgiev:</strong> <a href="https://github.com/georgievlb">https://github.com/georgievlb</a><br />
    <strong>Iliqn Ivanov:</strong>   <a href="https://github.com/IliqnIvanov">https://github.com/IliqnIvanov</a><br />
    <strong>Georgi Spasov:</strong>   <a href="https://github.com/GeorgiSpasov">https://github.com/GeorgiSpasov</a>
</address>